/* Card.module.css */
.card {
  background-color: var(--secondary-bg-color);
  padding: 20px;
  border-radius: 10px;
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.success {
  color: #28a745;
}

.failure {
  color: #dc3545;
}
