/* BarChart.module.css */
.chartContainer {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.chartTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.chartWrapper {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}
